<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


<div class="jumbotron text-dark bg-white p-3 my-3">    
    
    <div class="d-flex justify-content-center align-items-center">
        <p class="mb-2"><strong>Sobre mim:</strong></p>
    </div>      

    <div class="d-flex justify-content-center align-items-center">
        <p class="mb-0 text-center">
            Atualmente, estou cursando de Análise e Desenvolvimento de Sistemas no Instituto Federal de São Paulo (IFSP), campus Campinas, e atuo como estagiário na Unicamp. Minha trajetória na área de tecnologia começou em 2023, quando tive meu primeiro contato com programação — uma experiência que despertou meu interesse imediato pela lógica, pela resolução de problemas e pelas inúmeras formas como a tecnologia pode impactar positivamente o dia a dia das pessoas.
            Desde então, venho me dedicando ao desenvolvimento das minhas habilidades técnicas, com foco em linguagens de programação, desenvolvimento web e boas práticas de engenharia de software. No estágio, tenho a oportunidade de aplicar esses conhecimentos em projetos reais e também aplicar o conhecimento de infraestrutura de redes e manutenção em hardwares, o que tem sido fundamental para consolidar meu aprendizado e entender os desafios do ambiente profissional em que estou inserido.
            Meu principal objetivo é construir uma carreira sólida em TI, atuando com desenvolvimento de software sempre buscando inovação e melhoria contínua.
        </p>
    </div>
    
    <div class="d-flex justify-content-center align-items-center">
        <p class="mt-2"><strong>Links úteis: </strong></p>
    </div>  
    
    <div class="d-flex justify-content-center align-items-center">
        <a href="https://www.linkedin.com/in/gustavo-pereira-gon%C3%A7alves-de-campos/" target="_blank" class="m-1">
            <ion-icon name="logo-linkedin" class="icone-linkedin"></ion-icon>
        </a>
        
        <a href="https://github.com/gustavopgcampos" target="_blank" class="m-1">
            <ion-icon name="logo-github" class="icone-github"></ion-icon>
        </a>
    </div> 
    
    <style>
        .icone-linkedin
        {
            font-size: 40px;
        }
        .icone-github 
        {
            color: black;
            font-size: 40px;
        }
        
        @keyframes pulse 
        {
            0% { transform: scale(1); }
            50% { transform: scale(1.2); }
            100% { transform: scale(1); }
        }
        
        .icone-linkedin:hover 
        {
            color: #007bff;
            animation: pulse 0.4s ease-in-out;    
        }
        .icone-github:hover 
        {
            color: #000000;
            animation: pulse 0.4s ease-in-out; 
        }
    </style>
    
             

    
    
    
    
    
    
    
</div>