<div class="jumbotron text-dark bg-white p-3 my-3">
    <hr>  
    
    <h5 class="text-center">Linktree Project</h5>
    <p class="text-center m-1">Esse projeto consiste basicamente em um linktree que pode ser modificado de acordo com a pessoa.</p>
    <div style="text-align: center;">
        <a href="https://gustavopgcampos.github.io/Linktree-Rocketseat/" target="_blank">Clique aqui para ver este projeto!</a>
    </div>
    
    <hr>  
    
    <h5 class="text-center m-1">mvc-php</h5>
    <p class="text-center m-1">Projeto ainda em andamento que estou utilizando para aprender sobre a arquitetura MVC e PHP para meu estágio na Unicamp.</p>
    <div style="text-align: center;">
        <a href="https://github.com/gustavopgcampos/mvc-php" target="_blank">Clique aqui para ver este projeto!</a>
    </div>
    
    <hr>
    
    <h5 class="text-center m-1">Mouse Pointer Tester</h5>
    <p class="text-center m-1">Este site pode ser usado quando você altera o estilo do ponteiro do mouse e quer ver como ele fica em todas as opções. Experimente!</p>
    <div style="text-align: center;">
        <a href="https://gustavopgcampos.github.io/Mouse-Pointer-Tester/" target="_blank">Clique aqui para ver este projeto!</a>
    </div>
    
    <hr>
    <h5 class="text-center m-1">EcoFinder - Projeto de extensão TADS - 1º Semestre</h5>
    <p class="text-center m-1">EcoFinder é um projeto de extensão do curso superior de Análise e Desenvolvimento de Sistemas, com o objetivo de entregar um sistema em que usuários comuns — como moradores, estabelecimentos e instituições — possam se cadastrar e registrar chamados para coleta de materiais recicláveis, informando a localização e o tipo de material a ser recolhido.</p>
    <div style="text-align: center;">
        <a href="https://github.com/matheuscostar77/ProjetoDeExtensao_EcoFinder" target="_blank">Clique aqui para ver este projeto!</a>
    </div>
    
    <hr>

</div>   